@tailwind base;
@tailwind components;
@tailwind utilities;

.links{
	font-size: medium;
}
.links:hover::after{
	opacity: 0.5;
	color: wheat;
}

.smallLinks{
	@apply p-4 m-4 h-10 w-10 bg-sky-500;
}
.smallLinks{
	padding: 4;
	margin: 4;
	height: 10;
	width: 10;
	
}